.about{
  clear: both;
  margin: 0%;
  width: 100vw;
}

#aboutMe{
    width: 100vw;
    height: fit-content;
    font-size: 1em;
    color: white;
    margin-top: 0%;
    clear: both;
}

.personalInfo{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
}
ul{
  padding: 0;
  margin-top: -8px;
  list-style: none;
  margin:0;
}

li{
  position: relative;
  padding-bottom: 21px;
  position: relative;
  padding-left: 15px;
  margin-bottom:15px;
  
}
p {
  line-height: 32px;
  margin-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: .8;
}
.info1{
  width: 30%;
  clear: both;
  margin-right: 3%;
} 
.info2{
  width: 30%;
  clear: both;
  margin-right: 3%;
  margin-left: 3%;
}
.info3{
  width: 30%;
  clear: both;
  margin-left: 3%;
}

.Header{
    text-align: center;
    color: white;
    margin-top: 0%;
    padding-top: 5vh;
    padding-bottom: 2vh;
}
label{
  text-transform: uppercase;
  margin: 5px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: inline-block;
  color:#9acd32;
}
.cv{
  padding-top: 4%;
  width: 100%;
  clear: both;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}

/*button home*/
.button {
  box-shadow: none !important;
  border-radius: 26px;
  font-weight: 600;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #555;
  padding: 0 33px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  border: 0;
  background-color: #9acd32;
}
.zuraas{
  clear: both;
  margin-top: 2vh;
  padding-top: 10vh;
  padding-bottom: 8vh ;
  width: 90vw;
  margin-left: 5vw;
}

.button span {
  position: relative;
  z-index: 2;
}

.button:before {
  position: absolute;
  content: "";
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  background-color: #555;
  transform: skew(-22deg);
  transition-duration: .6s;
  z-index: 1;
}

.button:hover:before {
  width: 180%;
}
.button:hover {
  box-shadow: none;
  color: #fff;
}

  .Resume{
  width: 100vw;
   clear:both;
   padding-bottom: 5vh;
  }
  .edu{
    width: 40%;
    float: left;
    padding-left: 5%;
  }
  .exp{
    width: 45%;
    float: right;
    padding-right: 5%;
  }
  .headMe{
    color: #9acd32;
  }
  
  h2{
    font-weight:600;
    margin-left: 20px;
    padding-bottom: 5vh;
    color:#9acd32;
  }
  .skills{
    clear: both;
    width:95vw;
    padding-left: 5vw;
  }
.bar1{
  width: 27%;
  float: left;
  margin-right: 5%;
}
@media only screen and (max-width: 900px){
  .personalInfo{
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 0%;
  }
  .info1{
    width: 70%;
    float: none;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .info2{
    width: 70%;
    float: none;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .info3{
    width: 70%;
    float: none;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .edu{
    width: 90%;

  }
  .exp{
    width: 90%;
    margin-left: 5%;
  }
  .skills{
    width: 100%;
  }
  .bar1{
    width: 70%;
    margin-left: 15%;
  }
  .personalInfo{
    text-align: left;
    display: block;
  }
  .info{
    width: 100%;
    text-align: center;
  }
  button{
    scale: 0.9;
  }
}