.contact{
  clear: both;
  width: 100vw;
  text-align: center;
  }
.Header2{
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 5%;
}
.headMe2{
  color: #9acd32;
}
.info{
  width: 60vw;
  padding-left: 20vw;
}
.card1{
  width: 20vw;
  text-align: center;
  margin-bottom: 20vh;
  padding: 5vh;
  border: 5px solid #94AF9F;
  border-radius: 10%;
  margin-bottom: 10vh;
  float:right;
}
.card2{
  width: 20vw;
  text-align: center;
  padding: 5vh;
  border: 5px solid #94AF9F;
  margin-bottom: 10vh;
  float:left;
  border-radius: 10%;
}
.icon{
  color: #9acd32;
  transform: scale(2);
  padding: 5%;
}
.attr{
  color:#FFFFFF;
  text-transform: uppercase;
}
.value{
  color: #FFFFFF;
}
@media only screen  and (max-width: 900px){
  .card1{
    width: 100%;
    padding: 0%;
  }
  .card2{
    width: 100%;
    padding: 0%;
  }
}