.footer{
    background-color: #333;
    width: 100vw;
    height: fit-content;
    text-align: center;
    clear: both;
}

.icon1{
    color: white;
    scale: 2;
    margin-top: 3%;
    margin-left: 5vh;
    margin-bottom: 10px;
}
.icon2{
    scale: 0.8;
    padding:0%;
}
.copyright{
    color: #555;
}